@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This is an ASP.NET and dotnet Core MVC App deployed to Docker/Kubernetes and Red Hat OpenShift.</p>
